.layout-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-body-footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 550px;
}

@media screen and (min-width: 768px) {
  .header-body-footer-container {
    max-width: 1140px;
  }
}
